body {
  /* background-color: rgb(241, 241, 240); */
  /* background-color: rgb(174, 172, 180); */
  background-color: #17344c;
  font-size: larger;
}

.navbar {
  background-color: #aec8e4;
}

.title,
.subtitle {
  color: white;
}

i {
  font-family: fontawesome !important;
}

footer a {
  margin: 10px;
  color: #aec8e4;
}

#about {
  /* background-color: rgb(241, 241, 240); */
  background-color: whitesmoke;
  border-bottom: 2px dotted lightgray;
}

#portfolio {
  /* background-color: rgb(236, 236, 236); */
  background-color: #e3dec7;
}

.footer {
  /* background-color: rgb(241, 241, 240); */
  background-color: #76847e;
  color: white;
}

.portfolio-item {
  margin-bottom: 30px;
}

.image-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

img {
  max-height: 275px;
}

.portfolio-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  flex: 0 1 35%;
  opacity: 0.8;
  transition: opacity 500ms, transform 500ms;
}

.portfolio-img:hover {
  opacity: 1;
  transform: scale(1.1);
}

@media only screen and (max-width: 800px) {
  .image-list {
    flex-direction: column;
  }
}
