body {
  background-color: rgb(241, 241, 240);
  font-size: larger;
}
i {
  font-family: fontawesome !important;
}

footer a{
    margin: 10px;
}

.portfolio-item {
  margin-bottom: 50px;
}

.image-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.portfolio-img {
  margin: 20px;
  flex: 0 1 35%;
  opacity: 0.8;
}

img {
  max-height: 300px;
}

.portfolio-img:hover {
  opacity: 1;
}

@media only screen and (max-width: 800px){
  .image-list{
    flex-direction: column;
  }
}
